@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'Eurostile';
    font-style: regular;
    font-weight: 600;
    src: local(''), url('./eurostile.ttf')
}

html {
    font-family: 'Work Sans', sans-serif;
}

.main {
    @apply bg-beige text-beige;
    @apply ;
    min-height: 100vh;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label {
    @apply text-base font-semibold text-beige;
}

input, select {
    @apply mt-1 block w-full rounded-md bg-taupe border border-beige/25 py-4 pl-3 pr-10 text-base;
}

input:focus, select:focus {
    @apply ring-none outline-none;
}

button {
    @apply rounded-md px-6 py-3 shadow-sm;
}

button:focus {
    @apply outline-none ring-none;
}

h1, h2, h3, h4 {
    font-family: 'Eurostile', sans-serif;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    cursor: pointer;
    background-color: #5f6770;
}

.scrollbar-none {
    scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
display: none;
}